.App {
  text-align: center;
}

.week {
  width: inherit;
  display: flex;
  flex-direction:row;
  text-align: justify;
  margin: 10px;
  justify-content: space-evenly;
}

.card {
  background-color: rgba(163, 31, 31, 0.349);
  border-radius: 35px;
  border-style: inset;
  border-color: white;
  margin: 5px;
  padding: 10px 20px 10px;
  min-width: 16%;
  -minheight: 100%;
}

.info {
  background-color: rgba(236, 210, 91, 0.445);
  border-radius: 25px;
  display: flexbox;
  text-align: left;
  margin: inherit;
  padding: inherit;
  width: inherit;
}

.date {
  background-color: rgba(226, 197, 154, 0.644);
  border-radius: 35px;
  padding: 10px 30px 10px;
  width: inherit;
  text-align: center;
}